n8n/workflows/daily-summary-email.json
{
  "name": "Daily Flight Summary with Gemini AI",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 8,
              "minute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Every Day at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:5000/api/recipients/summary",
        "options": {}
      },
      "id": "fetch-recipient-summaries",
      "name": "Fetch Recipient Summaries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst recipients = response.recipients || [];\n\n// Return each recipient as a separate item\nreturn recipients.map(recipient => ({\n  json: {\n    email: recipient.email,\n    name: recipient.name,\n    trackedFlights: recipient.trackedFlights\n  }\n}));"
      },
      "id": "extract-recipients",
      "name": "Extract Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const recipient = $input.item.json;\nconst flights = recipient.trackedFlights || [];\n\nif (flights.length === 0) {\n  return {\n    hasFlights: false,\n    email: recipient.email,\n    name: recipient.name,\n    message: 'No tracked routes found'\n  };\n}\n\nconst activeFlights = [];\nconst inactiveFlights = [];\n\nfor (const flight of flights) {\n  const dateFlexibility = flight.dateFlexibilityDays || 3;\n  const maxStops = flight.maxStops;\n  const stopsLabel = maxStops === null ? 'any stops' : maxStops === 0 ? 'direct' : `max ${maxStops} stop${maxStops > 1 ? 's' : ''}`;\n  \n  const flightData = {\n    route: `${flight.departureAirportIATA} → ${flight.arrivalAirportIATA}`,\n    departureDate: new Date(flight.departureDate).toLocaleDateString(),\n    dateFlexibility: dateFlexibility,\n    stopsPreference: stopsLabel,\n    isActive: flight.isActive,\n    lastChecked: flight.lastPolledAt ? new Date(flight.lastPolledAt).toLocaleString() : 'Never',\n    currentPrice: flight.currentPrice,\n    minPrice: flight.minPrice,\n    maxPrice: flight.maxPrice,\n    priceChange: flight.priceChangePercent,\n    currency: flight.currency,\n    priceHistoryCount: flight.priceHistory ? flight.priceHistory.length : 0\n  };\n  \n  if (flight.isActive) {\n    activeFlights.push(flightData);\n  } else {\n    inactiveFlights.push(flightData);\n  }\n}\n\nconst greeting = recipient.name ? `Hi ${recipient.name}` : 'Hello';\n\nconst flightDetails = activeFlights.map(f => {\n  const priceInfo = f.currentPrice \n    ? `Current: ${f.currency} ${f.currentPrice.toFixed(2)} | Min: ${f.currency} ${f.minPrice.toFixed(2)} | Max: ${f.currency} ${f.maxPrice.toFixed(2)} | Change: ${f.priceChange >= 0 ? '+' : ''}${f.priceChange.toFixed(2)}%`\n    : 'No price data yet';\n  return `FLIGHT: ${f.route}\\nDate: ${f.departureDate} (±${f.dateFlexibility}d, ${f.stopsPreference})\\nPRICES: ${priceInfo}\\nLast checked: ${f.lastChecked}`;\n}).join('\\n\\n');\n\nconst prompt = `Generate a detailed flight tracking summary email for ${recipient.name || recipient.email}.\\n\\nTracked Flights Summary:\\n${flightDetails}\\n\\nWrite a friendly email that:\\n1. Greets ${recipient.name || 'the user'} warmly\\n2. For EACH flight, mention the route, current price with currency, and whether it's a good deal based on min/max prices\\n3. Highlight any significant price changes (positive or negative)\\n4. Provide specific recommendations: should they book now or wait for better prices?\\n5. End with encouragement to check the dashboard for more details\\n\\nBe specific with actual prices and percentages. Keep it friendly but informative.`;\n\nreturn {\n  hasFlights: true,\n  email: recipient.email,\n  name: recipient.name,\n  greeting: greeting,\n  totalFlights: flights.length,\n  activeCount: activeFlights.length,\n  inactiveCount: inactiveFlights.length,\n  activeFlights,\n  inactiveFlights,\n  geminiPrompt: prompt\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Recipient Summary Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasFlights }}",
              "value2": true
            }
          ]
        }
      },
      "id": "has-flights-check",
      "name": "Has Flights?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent?key=AIzaSyCutvOqUF-3TdLWz3BIUETuUu1zF77OHGY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": $json.geminiPrompt }] }] } }}",
        "options": {}
      },
      "id": "call-gemini",
      "name": "Generate Summary with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "jsCode": "const flightData = $('Prepare Recipient Summary Data').item.json;\nconst geminiResponse = $input.item.json;\n\nlet aiSummary = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || 'Your route tracking summary is ready!';\n\n// Convert markdown to HTML\naiSummary = aiSummary\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')  // Bold\n  .replace(/\\*(.+?)\\*/g, '<em>$1</em>')              // Italic\n  .replace(/\\n\\n/g, '</p><p>')                        // Paragraphs\n  .replace(/\\n/g, '<br>');                            // Line breaks\n\n// Wrap in paragraph if not already\nif (!aiSummary.includes('<p>')) {\n  aiSummary = `<p>${aiSummary}</p>`;\n}\n\nconst emailBody = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; background-color: #f5f5f5;\">\n  <div style=\"max-width: 800px; margin: 0 auto; background-color: white;\">\n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center;\">\n      <h1 style=\"margin: 0; font-size: 32px; font-weight: 600;\">✈️ Daily Flight Summary</h1>\n      <p style=\"margin: 10px 0 0 0; opacity: 0.9;\">${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n    </div>\n    \n    <!-- Main Content -->\n    <div style=\"padding: 40px 30px;\">\n      <p style=\"font-size: 18px; margin: 0 0 30px 0; color: #1f2937;\">${flightData.greeting}!</p>\n      \n      <!-- AI Summary -->\n      <div style=\"background: #f9fafb; padding: 25px; border-radius: 8px; margin-bottom: 30px; border-left: 4px solid #667eea;\">\n        <div style=\"color: #374151; font-size: 16px; line-height: 1.6;\">${aiSummary}</div>\n      </div>\n      \n      <!-- Stats -->\n      <div style=\"display: table; width: 100%; margin: 30px 0;\">\n        <div style=\"display: table-cell; background: #f9fafb; padding: 20px; border-radius: 8px; text-align: center; width: 33.33%;\">\n          <div style=\"font-size: 36px; font-weight: bold; color: #667eea; margin-bottom: 5px;\">${flightData.totalFlights}</div>\n          <div style=\"color: #6b7280; font-size: 14px;\">Total Flights</div>\n        </div>\n        <div style=\"display: table-cell; width: 15px;\"></div>\n        <div style=\"display: table-cell; background: #f0fdf4; padding: 20px; border-radius: 8px; text-align: center; width: 33.33%;\">\n          <div style=\"font-size: 36px; font-weight: bold; color: #10b981; margin-bottom: 5px;\">${flightData.activeCount}</div>\n          <div style=\"color: #6b7280; font-size: 14px;\">Active</div>\n        </div>\n        <div style=\"display: table-cell; width: 15px;\"></div>\n        <div style=\"display: table-cell; background: #f9fafb; padding: 20px; border-radius: 8px; text-align: center; width: 33.33%;\">\n          <div style=\"font-size: 36px; font-weight: bold; color: #6b7280; margin-bottom: 5px;\">${flightData.inactiveCount}</div>\n          <div style=\"color: #6b7280; font-size: 14px;\">Inactive</div>\n        </div>\n      </div>\n      \n      ${flightData.activeCount > 0 ? `\n      <!-- Active Flights -->\n      <h2 style=\"color: #1f2937; font-size: 20px; margin: 40px 0 20px 0;\">🟢 Active Flight Tracking</h2>\n      ${flightData.activeFlights.map(f => {\n        const priceInfo = f.currentPrice \n          ? `<div style=\"margin-top: 10px; padding: 10px; background: #f0fdf4; border-radius: 4px;\">\n              <strong style=\"color: #10b981;\">Current: ${f.currency} ${f.currentPrice.toFixed(2)}</strong> | \n              Low: ${f.currency} ${f.minPrice.toFixed(2)} | \n              High: ${f.currency} ${f.maxPrice.toFixed(2)} | \n              Change: <span style=\"color: ${f.priceChange >= 0 ? '#ef4444' : '#10b981'};\">${f.priceChange >= 0 ? '+' : ''}${f.priceChange.toFixed(1)}%</span>\n            </div>`\n          : '<div style=\"margin-top: 10px; color: #9ca3af; font-style: italic;\">Waiting for price data...</div>';\n        \n        return `<div style=\"background: white; border: 1px solid #e5e7eb; padding: 20px; border-radius: 8px; margin-bottom: 15px;\">\n          <div style=\"font-weight: 600; color: #667eea; font-size: 18px; margin-bottom: 8px;\">${f.route}</div>\n          <div style=\"color: #6b7280; margin-bottom: 5px;\">\n            📅 ${f.departureDate} (±${f.dateFlexibility} days) | \n            ${f.stopsPreference === 'direct' ? '✈️' : '🔄'} ${f.stopsPreference}\n          </div>\n          ${priceInfo}\n          <div style=\"color: #9ca3af; font-size: 13px; margin-top: 10px;\">Last checked: ${f.lastChecked}</div>\n        </div>`;\n      }).join('')}\n      ` : ''}\n      \n      ${flightData.inactiveCount > 0 ? `\n      <!-- Inactive Flights -->\n      <h2 style=\"color: #1f2937; font-size: 20px; margin: 40px 0 20px 0;\">⚫ Inactive Tracking</h2>\n      ${flightData.inactiveFlights.map(f => `<div style=\"background: #f9fafb; padding: 15px; border-radius: 8px; margin-bottom: 10px; opacity: 0.7;\">\n        <div style=\"font-weight: 500; color: #6b7280;\">${f.route}</div>\n      </div>`).join('')}\n      ` : ''}\n      \n      <!-- CTA Button -->\n      <div style=\"text-align: center; margin: 40px 0 30px 0;\">\n        <a href=\"http://localhost:5173\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 14px 40px; text-decoration: none; border-radius: 8px; font-weight: 500; font-size: 16px;\">View Full Dashboard</a>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst subject = `✈️ Flight Summary: ${flightData.activeCount} Active Route${flightData.activeCount !== 1 ? 's' : ''}`;\n\nreturn { \n  subject, \n  emailBody, \n  recipientEmail: flightData.email,\n  recipientName: flightData.name\n};"
      },
      "id": "format-summary-email",
      "name": "Format Summary Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "toList": {
          "values": [
            {
              "address": "={{ $json.recipientEmail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-summary-email",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1650, 250],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Schedule - Every Day at 8 AM": {
      "main": [[{ "node": "Fetch Recipient Summaries", "type": "main", "index": 0 }]]
    },
    "Fetch Recipient Summaries": {
      "main": [[{ "node": "Extract Recipients", "type": "main", "index": 0 }]]
    },
    "Extract Recipients": {
      "main": [[{ "node": "Prepare Recipient Summary Data", "type": "main", "index": 0 }]]
    },
    "Prepare Recipient Summary Data": {
      "main": [[{ "node": "Has Flights?", "type": "main", "index": 0 }]]
    },
    "Has Flights?": {
      "main": [
        [{ "node": "Generate Summary with Gemini", "type": "main", "index": 0 }],
        []
      ]
    },
    "Generate Summary with Gemini": {
      "main": [[{ "node": "Format Summary Email", "type": "main", "index": 0 }]]
    },
    "Format Summary Email": {
      "main": [[{ "node": "Send Summary Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
