n8n/workflows/daily-summary-email.json
{
  "name": "Daily Flight Summary with Gemini AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Every Day at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:5000/api/tracking",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "demo-user"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-flights",
      "name": "Fetch All Tracked Flights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const flights = $input.all();\n\nif (flights.length === 0) {\n  return {\n    hasFlights: false,\n    message: 'No tracked routes found'\n  };\n}\n\nconst activeFlights = [];\nconst inactiveFlights = [];\n\nfor (const item of flights) {\n  const flight = item.json;\n  const dateFlexibility = flight.dateFlexibilityDays || 3;\n  const maxStops = flight.maxStops;\n  const stopsLabel = maxStops === null ? 'any stops' : maxStops === 0 ? 'direct' : `max ${maxStops} stop${maxStops > 1 ? 's' : ''}`;\n  \n  const flightData = {\n    route: `${flight.departureAirportIATA} → ${flight.arrivalAirportIATA}`,\n    departureDate: new Date(flight.departureDate).toLocaleDateString(),\n    dateFlexibility: dateFlexibility,\n    stopsPreference: stopsLabel,\n    isActive: flight.isActive,\n    lastChecked: flight.lastPolledAt ? new Date(flight.lastPolledAt).toLocaleString() : 'Never',\n    recipients: flight.recipients.length\n  };\n  \n  if (flight.isActive) {\n    activeFlights.push(flightData);\n  } else {\n    inactiveFlights.push(flightData);\n  }\n}\n\nconst prompt = `You are a helpful flight tracking assistant. Create a friendly and concise daily summary for a user tracking ${flights.length} route(s).\n\nActive: ${activeFlights.length}\n${activeFlights.map(f => `- ${f.route} on ${f.departureDate} (±${f.dateFlexibility}d, ${f.stopsPreference})`).join('\\n')}\n\nInactive: ${inactiveFlights.length}\n${inactiveFlights.length > 0 ? inactiveFlights.map(f => `- ${f.route}`).join('\\n') : 'None'}\n\nWrite 2-3 friendly sentences summarizing status and encouraging dashboard check. Under 100 words, no markdown.`;\n\nreturn {\n  hasFlights: true,\n  totalFlights: flights.length,\n  activeCount: activeFlights.length,\n  inactiveCount: inactiveFlights.length,\n  activeFlights,\n  inactiveFlights,\n  geminiPrompt: prompt\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Summary Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": $json.geminiPrompt }] }] } }}",
        "options": {}
      },
      "id": "call-gemini",
      "name": "Generate Summary with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "const flightData = $('Prepare Summary Data').item.json;\nconst geminiResponse = $input.item.json;\n\nconst aiSummary = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || 'Your route tracking summary is ready!';\n\nconst emailBody = `<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\">\n  <h1>✈️ Daily Route Summary</h1>\n  <p>${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n</div>\n<div style=\"background: #f8f9fa; padding: 30px;\">\n  <div style=\"background: white; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #667eea;\">\n    <p style=\"margin: 0; font-size: 16px;\">${aiSummary}</p>\n    <span style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 3px 8px; border-radius: 4px; font-size: 11px; margin-left: 10px;\">✨ AI Generated</span>\n  </div>\n  <div style=\"display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px; margin: 20px 0;\">\n    <div style=\"background: white; padding: 15px; border-radius: 8px; text-align: center;\"><div style=\"font-size: 32px; font-weight: bold; color: #667eea;\">${flightData.totalFlights}</div><div style=\"color: #6b7280; font-size: 14px;\">Total</div></div>\n    <div style=\"background: white; padding: 15px; border-radius: 8px; text-align: center;\"><div style=\"font-size: 32px; font-weight: bold; color: #667eea;\">${flightData.activeCount}</div><div style=\"color: #6b7280; font-size: 14px;\">Active</div></div>\n    <div style=\"background: white; padding: 15px; border-radius: 8px; text-align: center;\"><div style=\"font-size: 32px; font-weight: bold; color: #667eea;\">${flightData.inactiveCount}</div><div style=\"color: #6b7280; font-size: 14px;\">Inactive</div></div>\n  </div>\n  ${flightData.activeCount > 0 ? `<h3>🟢 Active Routes</h3>${flightData.activeFlights.map(f => `<div style=\"background: white; padding: 15px; border-radius: 8px; margin: 10px 0;\"><div style=\"font-weight: 600; color: #667eea;\">${f.route}</div><div style=\"color: #6b7280;\">${f.departureDate} (±${f.dateFlexibility}d) | ${f.stopsPreference}</div></div>`).join('')}` : ''}\n  <div style=\"text-align: center; margin-top: 30px;\"><a href=\"http://localhost:5173\" style=\"display: inline-block; background: #667eea; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px;\">View Dashboard</a></div>\n</div>\n</body></html>`;\n\nconst subject = `✈️ Daily Route Summary - ${flightData.activeCount} Active Route${flightData.activeCount !== 1 ? 's' : ''}`;\n\nreturn { subject, emailBody, recipients: $env.GMAIL_ADDRESS };"
      },
      "id": "format-summary-email",
      "name": "Format Summary Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "toList": {
          "values": [
            {
              "address": "={{ $json.recipients }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-summary-email",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Schedule - Every Day at 8 AM": {
      "main": [[{ "node": "Fetch All Tracked Flights", "type": "main", "index": 0 }]]
    },
    "Fetch All Tracked Flights": {
      "main": [[{ "node": "Prepare Summary Data", "type": "main", "index": 0 }]]
    },
    "Prepare Summary Data": {
      "main": [[{ "node": "Generate Summary with Gemini", "type": "main", "index": 0 }]]
    },
    "Generate Summary with Gemini": {
      "main": [[{ "node": "Format Summary Email", "type": "main", "index": 0 }]]
    },
    "Format Summary Email": {
      "main": [[{ "node": "Send Summary Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
