n8n/workflows/price-alert-notification.json
{
  "name": "Price Alert Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "price-alert",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Price Alert Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "price-alert-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from webhook\nconst flight = $input.item.json;\nconst recipients = flight.recipients || [];\n\n// Store flight data for later nodes\nconst flightData = {\n  departureAirportIATA: flight.departureAirportIATA,\n  arrivalAirportIATA: flight.arrivalAirportIATA,\n  departureDate: flight.departureDate,\n  dateFlexibilityDays: flight.dateFlexibilityDays,\n  maxStops: flight.maxStops,\n  currentPrice: flight.currentPrice,\n  previousPrice: flight.previousPrice,\n  currency: flight.currency\n};\n\n// Return each recipient as a separate item with flight data attached\nreturn recipients.map(recipient => ({\n  json: {\n    email: recipient.email,\n    name: recipient.name,\n    flightData: flightData\n  }\n}));"
      },
      "id": "extract-recipients",
      "name": "Extract Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get recipient and flight data\nconst recipient = $input.item.json;\nconst flight = recipient.flightData;\n\nconst route = `${flight.departureAirportIATA} → ${flight.arrivalAirportIATA}`;\nconst departureDate = new Date(flight.departureDate).toLocaleDateString('en-US', {\n  month: 'long',\n  day: 'numeric',\n  year: 'numeric'\n});\n\nconst dateFlexibility = flight.dateFlexibilityDays || 3;\nconst maxStops = flight.maxStops;\nconst stopsLabel = maxStops === null ? 'Any stops' : maxStops === 0 ? 'Direct only' : `Max ${maxStops} stop${maxStops > 1 ? 's' : ''}`;\n\nconst currentPrice = flight.currentPrice;\nconst previousPrice = flight.previousPrice;\nconst priceDrop = previousPrice - currentPrice;\nconst dropPercent = ((priceDrop / previousPrice) * 100).toFixed(1);\nconst currency = flight.currency || 'EUR';\n\nconst greeting = recipient.name ? `Hi ${recipient.name}` : 'Hello';\n\n// Format email subject\nconst subject = `✈️ Price Drop Alert: ${route} - ${currency}${priceDrop.toFixed(2)} off!`;\n\n// Format email body\nconst emailBody = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f8f9fa; padding: 30px; border-radius: 0 0 10px 10px; }\n    .price-card { background: white; padding: 20px; border-radius: 8px; margin: 20px 0; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .price-drop { color: #10b981; font-size: 32px; font-weight: bold; }\n    .details { margin: 15px 0; }\n    .detail-row { padding: 10px 0; border-bottom: 1px solid #e5e7eb; }\n    .label { font-weight: 600; color: #6b7280; }\n    .value { float: right; }\n    .cta-button { display: inline-block; background: #667eea; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin-top: 20px; }\n    .footer { text-align: center; color: #6b7280; font-size: 12px; margin-top: 30px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>✈️ Price Drop Alert!</h1>\n      <p>Great news for your tracked route</p>\n    </div>\n    <div class=\"content\">\n      <p style=\"font-size: 16px; margin-bottom: 20px;\">${greeting}!</p>\n      <div class=\"price-card\">\n        <div class=\"price-drop\">-${currency}${priceDrop.toFixed(2)} (${dropPercent}%)</div>\n        <p style=\"color: #6b7280; margin-top: 10px;\">Price dropped below your alert threshold</p>\n      </div>\n      \n      <div class=\"details\">\n        <div class=\"detail-row\">\n          <span class=\"label\">Route</span>\n          <span class=\"value\">${route}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Departure Date</span>\n          <span class=\"value\">${departureDate} ±${dateFlexibility}d</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Stops</span>\n          <span class=\"value\">${stopsLabel}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Previous Price</span>\n          <span class=\"value\" style=\"text-decoration: line-through;\">${currency}${previousPrice.toFixed(2)}</span>\n        </div>\n        <div class=\"detail-row\" style=\"border-bottom: none;\">\n          <span class=\"label\">Current Price</span>\n          <span class=\"value\" style=\"color: #10b981; font-weight: bold; font-size: 18px;\">${currency}${currentPrice.toFixed(2)}</span>\n        </div>\n      </div>\n      \n      <center>\n        <a href=\"https://www.google.com/flights?hl=en#flt=${flight.departureAirportIATA}.${flight.arrivalAirportIATA}.${flight.departureDate.replace(/-/g, '')}\" class=\"cta-button\">Search Flights</a>\n      </center>\n      \n      <div class=\"footer\">\n        <p>You're receiving this because you're subscribed to price alerts for ${route}.</p>\n        <p>Powered by Flight Tracker</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  subject,\n  emailBody,\n  recipientEmail: recipient.email,\n  route\n};"
      },
      "id": "format-email",
      "name": "Format Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "toList": {
          "values": [
            {
              "address": "={{ $json.recipientEmail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [850, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Price Alert Trigger": {
      "main": [
        [
          {
            "node": "Extract Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Recipients": {
      "main": [
        [
          {
            "node": "Format Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Content": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "flight-tracker"
  },
  "tags": []
}
